<div id="preloader">
  <div class="loading">
    <ul class="spinner">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
<!-- START LOGO -->
<div class="container">
  <div class="row">
    <!-- ======= Logo Here ======= -->

    <div *ngIf="settings && settings.showLangSelector" class="logo wow fadeInDown" data-wow-iteration="1">
      <div class="col-md-6">
        <img src="/assets/img/icons/flag.hu.png" alt="magyar" (click)="setLang('hu')" />
      </div>
      <div class="col-md-6">
        <img src="/assets/img/icons/flag.en.png" alt="english" (click)="setLang('en')" />
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
<!-- end container -->
<!-- END LOGO -->

<!-- START HOME SLIDER -->
<section id="slides">
  <div class="slides-container">

    <div class="slide active">
      <img src="/assets/img/slider/slide1.jpg" alt="slide" class="img-responsive">
      <div class="slide-caption">
        <div class="container wow fadeInDownBig">
          <h1>{{ "Slide1Header" | translate }}</h1>
          <p>{{ "Slide1Content" | translate }}</p>
          <a class="btn btn-primary read" href="#services">{{ "Read More" | translate }}</a>
        </div>
      </div>
    </div>
    <!-- end slide1 -->

    <div class="slide active">
      <img src="/assets/img/slider/slide2.jpg" alt="slide" class="img-responsive">
      <div class="slide-caption">
        <div class="container">
          <h1>{{ "Slide2Header" | translate }}</h1>
          <p>{{ "Slide2Content" | translate }}</p>
          <a class="btn btn-primary read" href="#services">{{ "Read More" | translate }}</a>
        </div>
      </div>
    </div>
    <!-- end slide2 -->

    <div class="slide active">
      <img src="/assets/img/slider/slide3.jpg" alt="slide" class="img-responsive">
      <div class="slide-caption">
        <div class="container">
          <h1>{{ "Slide3Header" | translate }}</h1>
          <p>{{ "Slide3Content" | translate }}</p>
          <a class="btn btn-primary read" href="#services">{{ "Read More" | translate }}</a>
        </div>
      </div>
    </div>
    <!-- end slide3 -->

  </div>
  <!-- end slides-container -->

  <nav class="slides-navigation">
    <a class="prev" href="#"> <i class="fa fa-chevron-left"></i></a>
    <a class="next" href="#"> <i class="fa fa-chevron-right"></i></a>
  </nav>
  <!-- end slides-navigation -->
</section>
<!-- END HOME SLIDER -->

<!-- START NAVIGATION -->
<header id="home" class="">
  <section class="navigation">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="row">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
            <a class="navbar-brand" href="#">Navigation</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
              <li><a href="#slides" title="{{ 'Home' | translate }}">{{ 'Home' | translate }}</a></li>
              <li><a href="#about" title="{{ 'About' | translate }}">{{ 'About' | translate }}</a></li>
              <li><a href="#services" title="{{ 'Services' | translate }}">{{ 'Services' | translate }}</a></li>
              <li *ngIf="specialOffer && specialOffer.hasSpecialOffer"><a href="#offer" title="{{ 'Special offer' | translate }}">{{ "Special offer" | translate }}</a></li>
              <li><a href="#quotes" title="{{ 'Quotes' | translate }}">{{ "Quotes" | translate }}</a></li>
              <li><a href="#contact" title="{{ 'Contact' | translate }}">{{ "Contact" | translate }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a class="tips" href="https://www.facebook.com/Massz%C3%A1zster%C3%A1pia-%C3%A9letm%C3%B3d-369902773167039/"
                  title="{{ 'Follow Us on Facebook' | translate}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
            </ul>
            <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </nav>
  </section>
</header>
<!-- END NAVIGATION -->

<!-- START ABOUT -->
<section id="about" class="page-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="aboutImg">
          <img class="img-responsive wow fadeInUpBig" data-wow-offset="300" src="/assets/img/logo.jpg" alt="masszazsom.hu" />
          <img class="shadow img-responsive" src="/assets/img/seperator-shadow.png" alt="Seperator shadow" />
        </div>
        <h2><span>masszazsom.hu</span></h2>
        <p class="text-center">
          TODO: Bemutatkozó szöveg (2-3 mondat)!
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- END ABOUT -->

<!-- START SERVICES -->
<section id="services" class="page-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2>{{ 'Services' | translate }}</h2>
        <div id="serviceList" class="carousel slide clearfix" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators clearfix">
            <li data-target="#serviceList" *ngFor="let svc of services; let i = index" [attr.data-index]="i" [attr.data-slide-to]="i" class="item{{i}} {{i == 0 ? 'active' : ''}} wow fadeInDown" data-wow-offset="200"
              data-wow-delay="100ms"><strong>{{svc.name}}</strong><span>{{i+1}}</span></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div *ngFor="let svc of services; let i = index" [attr.data-index]="i" class="item {{i == 0 ? 'active' : ''}}">
              <div class="col-md-12 col-sm-12">
                <h3 *ngFor="let item of svc.items">{{svc.name + ' (' + item.minute +' perc)'}}<strong class="price">{{item.price}} <small>huf</small></strong></h3>
                <p>{{svc.description}}</p>
                <ul class="list-default">
                  <li *ngFor="let text of svc.textList">{{text}}</li>
                </ul>
              </div>
            </div>
            <!-- end item -->
          </div>
          <!-- end carousel-inner -->
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- END SERVICES -->

<!-- START SPECIAL OFFER -->
<section *ngIf="specialOffer && specialOffer.hasSpecialOffer" id="offer" class="para2">
  <div class="boxBg page-block">
    <div class="container">
      <div class="row">

        <div class="col-md-2 col-sm-2 col-xs-12 wow rollIn" data-wow-offset="200" data-wow-delay="100ms">
          <h1 *ngIf="specialOffer.percent"><span>{{specialOffer.percent}}% <small>{{ "OFF" | translate }}</small></span></h1>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 wow fadeInLeft" data-wow-offset="200" data-wow-delay="200ms">
          <h2>{{ "Special" | translate }} <span>{{ "Offer" | translate }}</span></h2>
          <p>{{specialOffer.text}}</p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 text-center wow fadeInLeft" data-wow-offset="200" data-wow-delay="300ms"><a (click)="wantSpecialOffer()" class="btn btn-primary" href="#contact" title="">{{ "Get Now" | translate }}</a></div>

      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
</section>
<!-- END  SPECIAL OFFER -->

<!--START TESTIMONIALS -->
<section id="quotes" class="para3">
  <div class="highlightBox">
    <div class="boxBg">
      <div class="page-block-big">
        <i class="fa fa-quote-left wow bounceIn" data-wow-offset="200" data-wow-delay="100ms"></i><i class="fa fa-quote-right wow bounceIn"
          data-wow-offset="200" data-wow-delay="100ms"></i>
        <h1 class="wow fadeInDown" data-wow-offset="200" data-wow-delay="300ms">{{ "Quotes" | translate }}</h1>
        <div id="testimonial" class="carousel slide container" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators wow fadeInUp" data-wow-offset="200" data-wow-delay="700ms">
            <li data-target="#testimonial" data-slide-to="0" class="active"></li>
            <li data-target="#testimonial" data-slide-to="1"></li>
            <li data-target="#testimonial" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner text-center wow fadeInUp" data-wow-offset="200" data-wow-delay="500ms">
            <div class="item active">
              <p>TODO: ide egy idézet 1/3</p>
              <h5>- Kitől</h5>
            </div>
            <!-- end item -->

            <div class="item">
              <p>TODO: ide egy idézet 2/3
              </p>
              <h5>- Kitől</h5>
            </div>
            <!-- end item -->

            <div class="item">
              <p>TODO: ide egy idézet 3/3</p>
              <h5>- Kitől</h5>
            </div>
            <!-- end item -->
          </div>
          <!-- end carousel-inner -->
        </div>
        <!-- end testimonial -->
      </div>
      <!-- end page-block-bi -->
    </div>
    <!-- end boxBg -->
  </div>
</section>
<!-- END  TESTIMONIAL -->

<!--START CONTACT -->
<section id="contact" class="page-block">
  <div class="container">
    <div class="row">
      <h2>{{ "Contact" | translate }}</h2>

      <div class="col-md-8 col-sm-8">
        <p>{{ "Fill up form below for appointment." | translate }} {{ "All fields are required." | translate }}</p>
        <form #contactForm="ngForm" (ngSubmit)="onContactSubmit()">
          <div class="field-wrapper">
            <div class="form-row col-md-6 wow fadeInLeft" data-wow-offset="200" data-wow-delay="100ms">
              <input type="text" [(ngModel)]="contact.name" #name="ngModel" class="form-control" required id="name" name="name" placeholder="{{ 'Your Name' | translate }}"
                ng />
            </div>
            <div class="form-row col-md-6 wow fadeInLeft" data-wow-offset="150" data-wow-delay="300ms">
              <input type="email" [(ngModel)]="contact.email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control"
                required id="email" name="email" placeholder="{{ 'Your Email' | translate }}" />
              <div *ngIf="email.errors && contact.email && (email.dirty || email.touched)" class="alert alert-danger">
                <div [hidden]="!email.errors.pattern">
                  {{ "Invalid email format" | translate }}
                </div>
              </div>
            </div>
            <div class="form-row col-md-12 clearfix wow fadeInUp" data-wow-offset="100" data-wow-delay="500ms">
              <textarea cols="60" [(ngModel)]="contact.message" #message="ngModel" rows="3" id="message" required name="message" class="form-control"
                placeholder="{{ 'Message' | translate }}"></textarea>
            </div>
            <div class="col-md-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="700ms">
              <button type="submit" [hidden]="contact.submitted" class="btn btn-default" [disabled]="!contactForm.form.valid">{{ 'Submit' | translate }}</button>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="getInTouch" class="col-md-3 col-md-offset-1 col-sm-4 contactInfo">
        <h5>{{ "GET IN TOUCH" | translate }}</h5>
        <p class="wow fadeInRight" data-wow-offset="200" data-wow-delay="300ms">
          <i class="fa fa-map-marker"></i> {{getInTouch.address}}<br>{{getInTouch.city}}, {{getInTouch.country}}.
        </p>
        <p class="wow fadeInRight" data-wow-offset="200" data-wow-delay="500ms">
          <i class="fa fa-phone"></i> {{ "Phone" | translate }}: {{getInTouch.phoneNumber}}
        </p>
        <p class="wow fadeInRight" data-wow-offset="200" data-wow-delay="700ms">
          <i class="fa fa-envelope-o"></i> <a href="mailto:{{getInTouch.email}}" title="Email Us" target="_blank">{{getInTouch.email}}</a>
        </p>
      </div>

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- END  CONTACT -->

<!--START COPYRIGHT-->
<footer id="copyright" class="page-block-small wow fgadeInDown" data-wow-offset="70" data-wow-delay="700ms">
  <div class="container text-center">
    <div class="row">

      <p>masszazsom.hu &copy; {{year}}. {{ "All Rights Reserved." | translate}}</p>

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</footer>
<!--END COPYRIGHT-->

<a href="#slides" class="top"><i class="fa fa-arrow-up fa-lg"></i></a>