<div id="preloader">
  <div class="loading">
    <ul class="spinner">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
<!-- START LOGO -->
<div class="container">
  <div class="row">
    <!-- ======= Logo Here ======= -->
    <div class="logo wow fadeInDown" data-wow-iteration="1">
      <div class="col-md-6">
        <img src="/assets/img/icons/flag.hu.png" alt="magyar" (click)="setLang('hu')" />
      </div>
      <div class="col-md-6">
        <img src="/assets/img/icons/flag.en.png" alt="english" (click)="setLang('en')" />
      </div>
      <img class="img-responsive" src="/assets/img/logo.jpg" alt="masszazsom.hu" />
    </div>
  </div>
  <!-- end row -->
</div>
<!-- end container -->
<!-- END LOGO -->

<!-- START HOME SLIDER -->
<section id="slides">
  <div class="slides-container">

    <div class="slide active">
      <img src="/assets/img/slider/slide1.jpg" alt="slide" class="img-responsive">
      <div class="slide-caption">
        <div class="container wow fadeInDownBig">
          <h1>Revitalise your senses!</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristique accumsan. Pellentesque
            elit tortor, adipiscing vel velit in , ultricies fermentum nulla. Donec in urna semulla facilisi. Vestibulum
            ut aliquet magna. Nulla nec faucibus est</p>
          <a class="btn btn-primary read" href="#services">read More</a>
        </div>
      </div>
    </div>
    <!-- end slide1 -->

    <div class="slide active">
      <img src="/assets/img/slider/slide2.jpg" alt="slide" class="img-responsive">
      <div class="slide-caption">
        <div class="container">
          <h1>Refresh your mind!</h1>
          <p>In in augue placerat, viverra ligula quis, elementum augue. Donec molestie cursus tempus. Suspendisse malesuada,
            non laoreet aliquet, est est vestibulum sapien, ut iaculis metus nunc eget urna. Donec tincidunt libero non porttitor
            volutpat.
          </p>
          <a class="btn btn-primary read" href="#services">read More</a>
        </div>
      </div>
    </div>
    <!-- end slide2 -->

    <div class="slide active">
      <img src="/assets/img/slider/slide3.jpg" alt="slide" class="img-responsive">
      <div class="slide-caption">
        <div class="container">
          <h1>Revitalise your senses!</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristique accumsan. Pellentesque
            elit tortor, adipiscing vel velit in , ultricies fermentum nulla. Donec in urna semulla facilisi. Vestibulum
            ut aliquet magna. Nulla nec faucibus est</p>
          <a class="btn btn-primary read" href="#services">read More</a>
        </div>
      </div>
    </div>
    <!-- end slide3 -->

  </div>
  <!-- end slides-container -->

  <nav class="slides-navigation">
    <a class="prev" href="#"> <i class="fa fa-chevron-left"></i></a>
    <a class="next" href="#"> <i class="fa fa-chevron-right"></i></a>
  </nav>
  <!-- end slides-navigation -->
</section>
<!-- END HOME SLIDER -->

<!-- START NAVIGATION -->
<header id="home" class="">
  <section class="navigation">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="row">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
            <a class="navbar-brand" href="#">Navigation</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav">
              <li><a href="#slides" title="Home">Home</a></li>
              <li><a href="#about" title="About">About</a></li>
              <li><a href="#services" title="Services">services</a></li>
              <li><a href="#offer" title="Offer">Offer</a></li>
              <li><a href="#gallery" title="Gallery">Gallery</a></li>
              <li><a href="#team" title="Team">Team</a></li>
              <li><a href="#quotes" title="Quotes">Quotes</a></li>
              <li><a href="#contact" title="Contact">contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a class="tips" href="https://www.facebook.com/Massz%C3%A1zster%C3%A1pia-%C3%A9letm%C3%B3d-369902773167039/" title="{{ 'Follow Us on Facebook' | translate}}"><i class="fa fa-facebook"></i></a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </nav>
  </section>
</header>
<!-- END NAVIGATION -->

<!-- START ABOUT -->
<section id="about" class="page-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="aboutImg">
          <img class="img-responsive wow fadeInUpBig" data-wow-offset="300" src="/assets/img/about.png" alt="About" />
          <img class="shadow img-responsive" src="/assets/img/seperator-shadow.png" alt="Seperator shadow" />
        </div>
        <h2><span>masszazsom.hu</span></h2>
        <p class="text-center">
          {{ introText }}
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- END ABOUT -->

<!-- START SERVICES -->
<section id="services" class="page-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2>Our <span>Services</span></h2>
        <div id="serviceList" class="carousel slide clearfix" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators clearfix">
            <li data-target="#serviceList" data-slide-to="0" class="item1 active wow fadeInDown" data-wow-offset="200" data-wow-delay="100ms"><strong>Stone Massage</strong><span>1</span></li>
            <li data-target="#serviceList" data-slide-to="1" class="item2 wow fadeInDown" data-wow-offset="200" data-wow-delay="200ms"><strong>Aroma Therapy</strong><span>2</span></li>
            <li data-target="#serviceList" data-slide-to="2" class="item3 wow fadeInDown" data-wow-offset="200" data-wow-delay="300ms"><strong>Oil Massage</strong><span>3</span></li>
            <li data-target="#serviceList" data-slide-to="3" class="item4 wow fadeInDown" data-wow-offset="200" data-wow-delay="400ms"><strong>Facial</strong><span>4</span></li>
            <li data-target="#serviceList" data-slide-to="4" class="item5 wow fadeInDown" data-wow-offset="200" data-wow-delay="500ms"><strong>Skin Therapy</strong><span>5</span></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-md-4 col-sm-5"><img class="img-responsive" src="/assets/img/gallery/small/01.jpg" alt="1"></div>
              <div class="col-md-7 col-md-offset-1 col-sm-7">
                <h3><span>Stone</span> Massage<strong class="price"><small>$</small>75</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristiqumsan. Pellentesque
                  elit tortor, adipiscing vel velit in, ultricies fermentum nulla. Donec in urna sem. Nulla facilisi. Vestibulum
                  ut aliquet magna. Nulla nec faucibus est. In in augue placerat elementum augue.</p>
                <ul class="list-default">
                  <li>Pellentesque elit tortor, adipiscing vel velit in, ultricies </li>
                  <li>Donec in urna sem. Nulla facilisi. Vestibulum ut aliquet magna</li>
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Integer gravida velit quis dolor tristiqumsan. </li>
                  <li>Integer gravida velit quis dolor tristiqumsan. </li>
                </ul>
              </div>
            </div>
            <!-- end item -->

            <div class="item">
              <div class="col-md-4 col-sm-5"><img class="img-responsive" src="/assets/img/gallery/small/02.jpg" alt="1"></div>
              <div class="col-md-7 col-md-offset-1 col-sm-7">
                <h3><span>Aroma</span> Therapy<strong class="price"><small>$</small>75</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristiqumsan. Pellentesque
                  elit tortor, adipiscing vel velit in, ultricies fermentum nulla. Donec in urna sem. Nulla facilisi. Vestibulum
                  ut aliquet magna. Nulla nec faucibus est. In in augue placerat elementum augue.</p>
                <ul class="list-default">
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Integer gravida velit quis dolor tristiqumsan. </li>
                  <li>Pellentesque elit tortor, adipiscing vel velit in, ultricies </li>
                  <li>Donec in urna sem. Nulla facilisi. Vestibulum ut aliquet magna</li>
                  <li>Integer gravida velit quis dolor tristiqumsan. </li>
                </ul>
              </div>
            </div>
            <!-- end item -->

            <div class="item">
              <div class="col-md-4 col-sm-5"><img class="img-responsive" src="/assets/img/gallery/small/03.jpg" alt="1"></div>
              <div class="col-md-7 col-md-offset-1 col-sm-7">
                <h3><span>Oil</span> Massage<strong class="price"><small>$</small>75</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristiqumsan. Pellentesque
                  elit tortor, adipiscing vel velit in, ultricies fermentum nulla. Donec in urna sem. Nulla facilisi. Vestibulum
                  ut aliquet magna. Nulla nec faucibus est. In in augue placerat elementum augue.</p>
                <ul class="list-default">
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Integer gravida velit quis dolor tristiqumsan. </li>
                  <li>Integer gravida velit quis dolor tristiqumsan. </li>
                  <li>Pellentesque elit tortor, adipiscing vel velit in, ultricies </li>
                </ul>
              </div>
            </div>
            <!-- end item -->

            <div class="item">
              <div class="col-md-4 col-sm-5"><img class="img-responsive" src="/assets/img/gallery/small/04.jpg" alt="1"></div>
              <div class="col-md-7 col-md-offset-1 col-sm-7">
                <h3><span>Facial</span><strong class="price"><small>$</small>75</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristiqumsan. Pellentesque
                  elit tortor, adipiscing vel velit in, ultricies fermentum nulla. Donec in urna sem. Nulla facilisi. Vestibulum
                  ut aliquet magna. Nulla nec faucibus est. In in augue placerat elementum augue.</p>
                <ul class="list-default">
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Integer gravida velit quis dolor tristiqumsan. </li>
                  <li>Pellentesque elit tortor, adipiscing vel velit in, ultricies </li>
                  <li>Donec in urna sem. Nulla facilisi. Vestibulum ut aliquet magna</li>
                  <li>Integer gravida velit quis dolor tristiqumsan. </li>
                </ul>
              </div>
            </div>
            <!-- end item -->

            <div class="item">
              <div class="col-md-4 col-sm-5"><img class="img-responsive" src="/assets/img/gallery/small/05.jpg" alt="1"></div>
              <div class="col-md-7 col-md-offset-1 col-sm-7">
                <h3><span>Skin</span> Treatment<strong class="price"><small>$</small>75</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristiqumsan. Pellentesque
                  elit tortor, adipiscing vel velit in, ultricies fermentum nulla. Donec in urna sem. Nulla facilisi. Vestibulum
                  ut aliquet magna. Nulla nec faucibus est. In in augue placerat elementum augue.</p>
                <ul class="list-default">
                  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                  <li>Integer gravida velit quis dolor tristiqumsan. </li>
                  <li>Integer gravida velit quis dolor tristiqumsan. </li>
                  <li>Pellentesque elit tortor, adipiscing vel velit in, ultricies </li>
                  <li>Donec in urna sem. Nulla facilisi. Vestibulum ut aliquet magna</li>
                </ul>
              </div>
            </div>
            <!-- end item -->

          </div>
          <!-- end carousel-inner -->
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->

  <div class="para1">
    <div class="highlightBox">
      <div class="boxBg">
        <div class="page-block-big">
          <h1 class="wow fadeInDown" data-wow-offset="200" data-wow-delay="100ms">We use only <strong>herbal products</strong></h1>
          <h5 class="wow fadeInUp" data-wow-offset="200" data-wow-delay="200ms">from standard brands only</h5>
        </div>
      </div>
    </div>
    <!-- end highlightBox -->
  </div>
  <!-- end para1 -->

  <div class="container packageList">
    <div class="row">
      <h4 class="text-center wow fadeInDown" data-wow-offset="300" data-wow-delay="100ms">Our Other <span>packages</span></h4>
      <div class="col-md-6">

        <div class="package wow fadeInLeft" data-wow-offset="250" data-wow-delay="200ms">
          <h5>Fairness treatment</h5>
          <ul class="list-default">
            <li>Lorem ipsum dolor sit amet, consectetur</li>
            <li>adipiscing eliteger gravida velit quis dolo</li>
            <li>Pellentesque elit tortor</li>
          </ul>
          <strong class="price"><small>$</small>75</strong>
        </div>
        <!-- end package -->

        <div class="package wow fadeInLeft" data-wow-offset="200" data-wow-delay="300m">
          <h5>Steam Bath</h5>
          <ul class="list-default">
            <li>Lorem ipsum dolor sit amet, consectetur</li>
            <li>adipiscing eliteger gravida velit quis dolo</li>
            <li>Pellentesque elit tortor</li>
          </ul>
          <strong class="price"><small>$</small>50</strong>
        </div>
        <!-- end package -->

        <div class="package no-border wow fadeInLeft" data-wow-offset="150" data-wow-delay="400m">
          <h5>Lorem Ipsum treatment</h5>
          <ul class="list-default">
            <li>Lorem ipsum dolor sit amet, consectetur</li>
            <li>adipiscing eliteger gravida velit quis dolo</li>
            <li>Pellentesque elit tortor</li>
          </ul>
          <strong class="price"><small>$</small>99</strong>
        </div>
        <!-- end package -->

      </div>
      <!-- end col-md-6 -->
      <div class="col-md-6">

        <div class="package wow fadeInRight" data-wow-offset="250" data-wow-delay="500m">
          <h5>Oil Massage</h5>
          <ul class="list-default">
            <li>Lorem ipsum dolor sit amet, consectetur</li>
            <li>adipiscing eliteger gravida velit quis dolo</li>
            <li>Pellentesque elit tortor</li>
          </ul>
          <strong class="price"><small>$</small>85</strong>
        </div>
        <!-- end package -->

        <div class="package wow fadeInRight" data-wow-offset="200" data-wow-delay="600m">
          <h5>Beauty Treatment</h5>
          <ul class="list-default">
            <li>Lorem ipsum dolor sit amet, consectetur</li>
            <li>adipiscing eliteger gravida velit quis dolo</li>
            <li>Pellentesque elit tortor</li>
          </ul>
          <strong class="price"><small>$</small>70</strong>
        </div>
        <!-- end package -->

        <div class="package no-border wow fadeInRight" data-wow-offset="150" data-wow-delay="700m">
          <h5>Fairness treatment</h5>
          <ul class="list-default">
            <li>Lorem ipsum dolor sit amet, consectetur</li>
            <li>adipiscing eliteger gravida velit quis dolo</li>
            <li>Pellentesque elit tortor</li>
          </ul>
          <strong class="price"><small>$</small>75</strong>
        </div>
        <!-- end package -->

      </div>
      <!-- end col-md-6 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- END SERVICES -->

<!-- START SPECIAL OFFER -->
<section id="offer" class="para2">
  <div class="boxBg page-block">
    <div class="container">
      <div class="row">

        <div class="col-md-2 col-sm-2 col-xs-12 wow rollIn" data-wow-offset="200" data-wow-delay="100ms">
          <h1><span>25% <small>OFF</small></span></h1>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 wow fadeInLeft" data-wow-offset="200" data-wow-delay="200ms">
          <h2>Special <span>Offer</span></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristiqumsan. Pellentesque
            elit tortor, adipiscing vel velit in, ultricies fermentum nulla. Donec in urna sem. Nulla facilisi.</p>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 text-center wow fadeInLeft" data-wow-offset="200" data-wow-delay="300ms"><a class="btn btn-primary" href="#" title="">Get Now</a></div>

      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
</section>
<!-- END  SPECIAL OFFER -->

<!-- START GALLERY -->
<section id="gallery" class="page-block">
  <div class="container">
    <div class="row">
      <h2>Our <span>Gallery</span></h2>
      <p class="text-center">In in augue placerat, ligula quis, elementum augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
        gravida velit quis dolor tristique accumsan. <br>Pellentesque lla nec faucibus est. In in augue placerat, ligula
        quis, elementum augue.</p>
      <ul class="galleryImg clearfix">
        <li class="wow fadeInLeft" data-wow-offset="200" data-wow-delay="100ms">
          <a href="/assets/img/gallery/large/01.jpg" title="Your caption" rel="prettyPhoto[gallery1]"><img class="img-reponsive" src="/assets/img/gallery/small/01.jpg" alt="Gallery"></a>
        </li>
        <li class="wow fadeInLeft" data-wow-offset="200" data-wow-delay="200ms">
          <a href="/assets/img/gallery/large/02.jpg" title="Your caption" rel="prettyPhoto[gallery1]"><img class="img-reponsive" src="/assets/img/gallery/small/02.jpg" alt="Gallery"></a>
        </li>
        <li class="wow fadeInLeft" data-wow-offset="200" data-wow-delay="300ms">
          <a href="/assets/img/gallery/large/03.jpg" title="Your caption" rel="prettyPhoto[gallery1]"><img class="img-reponsive" src="/assets/img/gallery/small/03.jpg" alt="Gallery"></a>
        </li>
        <li class="wow fadeInLeft" data-wow-offset="200" data-wow-delay="400ms">
          <a href="/assets/img/gallery/large/04.jpg" title="Your caption" rel="prettyPhoto[gallery1]"><img class="img-reponsive" src="/assets/img/gallery/small/04.jpg" alt="Gallery"></a>
        </li>
        <li class="wow fadeInLeft" data-wow-offset="200" data-wow-delay="500ms">
          <a href="/assets/img/gallery/large/05.jpg" title="Your caption" rel="prettyPhoto[gallery1]"><img class="img-reponsive" src="/assets/img/gallery/small/05.jpg" alt="Gallery"></a>
        </li>
        <li class="wow fadeInLeft" data-wow-offset="100" data-wow-delay="600ms">
          <a href="/assets/img/gallery/large/06.jpg" title="Your caption" rel="prettyPhoto[gallery1]"><img class="img-reponsive" src="/assets/img/gallery/small/06.jpg" alt="Gallery"></a>
        </li>
        <li class="wow fadeInLeft" data-wow-offset="100" data-wow-delay="700ms">
          <a href="/assets/img/gallery/large/07.jpg" title="Your caption" rel="prettyPhoto[gallery1]"><img class="img-reponsive" src="/assets/img/gallery/small/07.jpg" alt="Gallery"></a>
        </li>
        <li class="wow fadeInLeft" data-wow-offset="100" data-wow-delay="800ms">
          <a href="/assets/img/gallery/large/08.jpg" title="Your caption" rel="prettyPhoto[gallery1]"><img class="img-reponsive" src="/assets/img/gallery/small/08.jpg" alt="Gallery"></a>
        </li>
        <li class="wow fadeInLeft" data-wow-offset="100" data-wow-delay="900ms">
          <a href="/assets/img/gallery/large/01.jpg" title="Your caption" rel="prettyPhoto[gallery1]"><img class="img-reponsive" src="/assets/img/gallery/small/01.jpg" alt="Gallery"></a>
        </li>
        <li class="wow fadeInLeft" data-wow-offset="100" data-wow-delay="1000ms">
          <a href="/assets/img/gallery/large/02.jpg" title="Your caption" rel="prettyPhoto[gallery1]"><img class="img-reponsive" src="/assets/img/gallery/small/02.jpg" alt="Gallery"></a>
        </li>
        <!-- ... -->
      </ul>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- END  GALLERY -->

<!-- START TEAM -->
<section id="team" class="page-block">
  <div class="container">
    <div class="row">
      <h2>Our <span>Experts</span></h2>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristique accumsan. Pellentesque
        lla nec faucibus est. <br>In in augue placerat, ligula quis, elementum augue.</p>

      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-offset="200" data-wow-delay="300ms">
        <div class="ih-item square effect10 top_to_bottom">
          <aside>
            <div class="img"><img class="img-responsive" src="/assets/img/team/01.jpg" alt="img"></div>
            <div class="info">
              <div class="info-back">
                <h4>Jen Doe</h4>
                <strong>Beauty Expert</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristiqumsan.</p>
                <ul class="social list-inline">
                  <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
                  <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                  <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <!-- end profile -->

      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-offset="200" data-wow-delay="600ms">
        <div class="ih-item square effect10 top_to_bottom">
          <aside>
            <div class="img"><img class="img-responsive" src="/assets/img/team/02.jpg" alt="img"></div>
            <div class="info">
              <div class="info-back">
                <h4>Jenny Doe</h4>
                <strong>Beauty Expert</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristiqumsan.</p>
                <ul class="social list-inline">
                  <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
                  <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                  <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <!-- end profile -->

      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-offset="200" data-wow-delay="900ms">
        <div class="ih-item square effect10 top_to_bottom">
          <aside>
            <div class="img"><img class="img-responsive" src="/assets/img/team/03.jpg" alt="img"></div>
            <div class="info">
              <div class="info-back">
                <h4>Smith Doe</h4>
                <strong>Beauty Expert</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristiqumsan.</p>
                <ul class="social list-inline">
                  <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
                  <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                  <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <!-- end profile -->

      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-offset="200" data-wow-delay="1200ms">
        <div class="ih-item square effect10 top_to_bottom">
          <aside>
            <div class="img"><img class="img-responsive" src="/assets/img/team/04.jpg" alt="img"></div>
            <div class="info">
              <div class="info-back">
                <h4>Kyra Doe</h4>
                <strong>Beauty Expert</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristiqumsan.</p>
                <ul class="social list-inline">
                  <li><a href="#" title="Follow Us on Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" title="Follow Us on Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#" title="Watch Our Videos"><i class="fa fa-youtube-play"></i></a></li>
                  <li><a href="#" title="Watch Our gallery"><i class="fa fa-flickr"></i></a></li>
                  <li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <!-- end profile -->

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- END  TEAM -->

<!--START TESTIMONIALS -->
<section id="quotes" class="para3">
  <div class="highlightBox">
    <div class="boxBg">
      <div class="page-block-big">
        <i class="fa fa-quote-left wow bounceIn" data-wow-offset="200" data-wow-delay="100ms"></i><i class="fa fa-quote-right wow bounceIn"
          data-wow-offset="200" data-wow-delay="100ms"></i>
        <h1 class="wow fadeInDown" data-wow-offset="200" data-wow-delay="300ms">What our <strong>clients say</strong></h1>
        <div id="testimonial" class="carousel slide container" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators wow fadeInUp" data-wow-offset="200" data-wow-delay="700ms">
            <li data-target="#testimonial" data-slide-to="0" class="active"></li>
            <li data-target="#testimonial" data-slide-to="1"></li>
            <li data-target="#testimonial" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner text-center wow fadeInUp" data-wow-offset="200" data-wow-delay="500ms">
            <div class="item active">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristique accumsan.
                Pellentesque elit tortor, adipiscing vel velit inermentum nulla. Donec in urna semulla facilisi. Vestibulum
                ut aliquet magna. Nulla nec faucibus est</p>
              <h5>- Jenny Doe, Model</h5>
            </div>
            <!-- end item -->

            <div class="item">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristique accumsan.
                Pellentesque elit tortor, adipiscing vel velit lla. Donec in urna semulla facilisi. Vestibulum ut aliquet
                magna
              </p>
              <h5>- Jenny Doe, Model</h5>
            </div>
            <!-- end item -->

            <div class="item">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida velit quis dolor tristique accumsan.Pellentesque
                elit tortor, adipiscing vel velit in ialla. Donec in urna semulla facilisi. Vestibulum ut aliquet magna.
                Nulla nec faucibus est</p>
              <h5>- Jenny Doe, Model</h5>
            </div>
            <!-- end item -->
          </div>
          <!-- end carousel-inner -->
        </div>
        <!-- end testimonial -->
      </div>
      <!-- end page-block-bi -->
    </div>
    <!-- end boxBg -->
  </div>
</section>
<!-- END  TESTIMONIAL -->

<!--START SUBSCRIBE -->
<section id="subscribe" class="page-block-small wow fadeInDown" data-wow-offset="200" data-wow-delay="300ms">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-sm-12 wow fadeInLeft" data-wow-offset="200" data-wow-delay="500ms">
        <h4 class="subscribeHeading">Subscribe to our <span>newsletter</span> for special offers</h4>
      </div>
      <div class="col-md-6 col-sm-12 wow fadeInRight" data-wow-offset="200" data-wow-delay="800ms">
        <form action="form/subscribe.php" id="subscribeForm" method="post">
          <div class="form-row">
            <div class="col-md-10 col-sm-10 col-xs-10">
              <input type="email" id="emailSubscribe" name="emailSubscribe" class="form-control" placeholder="Enter Your Email Address Here..."
              />
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <input type="text" id="sub-security" name="sub-security" class="form-control hide" value="" />
              <input type="submit" id="sub-submit" name="sub-submit" value="+" class="btn btn-primary" />
            </div>
          </div>
        </form>
      </div>

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- END  SUBSCRIBE -->

<!--START CONTACT -->
<section id="contact" class="page-block">
  <div class="container">
    <div class="row">
      <h2>Contact <span>Us</span></h2>

      <div class="col-md-8 col-sm-8">
        <p>Fill up form below for appointment. All fields are required.</p>
        <form id="contact_form" method="post" action="form/contact.php">
          <div class="field-wrapper">
            <div class="form-row col-md-6 wow fadeInLeft" data-wow-offset="200" data-wow-delay="100ms">
              <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" />
            </div>
            <div class="form-row col-md-6 wow fadeInRight" data-wow-offset="200" data-wow-delay="200ms">
              <input type="tel" class="form-control" id="phone" name="phone" placeholder="Your Phone" />
            </div>
            <div class="form-row col-md-6 wow fadeInLeft" data-wow-offset="150" data-wow-delay="300ms">
              <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" />
            </div>
            <div class="form-row col-md-6 wow fadeInRight" data-wow-offset="150" data-wow-delay="400ms">
              <input type="datetime" class="form-control" value="" id="datetimepicker" name="datetimepicker" placeholder="Preffered Date & Time"
              />
            </div>
            <div class="form-row col-md-12 clearfix wow fadeInUp" data-wow-offset="100" data-wow-delay="500ms">
              <textarea cols="60" rows="3" id="comment" name="comment" class="form-control" placeholder="Write your comment here..."></textarea>
            </div>
            <div class="col-md-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="700ms">
              <input type="text" id="security" name="security" class="form-control hide" value="" />
              <input type="submit" value="Submit" class="btn btn-default" id="submit" name="submit" />
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-3 col-md-offset-1 col-sm-4 contactInfo">
        <h5>GET IN TOUCH</h5>
        <p class="no-border wow fadeInRight" data-wow-offset="200" data-wow-delay="100ms">
          <i class="fa fa-clock-o"></i> Monday - Friday: <br>9:00am - 6:00pm
        </p>
        <p class="wow fadeInRight" data-wow-offset="200" data-wow-delay="300ms">
          <i class="fa fa-map-marker"></i> 123 Main Street<br>Your City, State Country.
        </p>
        <p class="wow fadeInRight" data-wow-offset="200" data-wow-delay="500ms">
          <i class="fa fa-phone"></i> Phone: 310.555.1213<br>Fax: 310.555.1213
        </p>
        <p class="wow fadeInRight" data-wow-offset="200" data-wow-delay="700ms">
          <i class="fa fa-envelope-o"></i> <a href="mailto:youremailadd@domainname.com" title="Email Us" target="_blank">someemail@dominn.com</a>
        </p>
      </div>

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- END  CONTACT -->

<!--START COPYRIGHT-->
<footer id="copyright" class="page-block-small wow fgadeInDown" data-wow-offset="70" data-wow-delay="700ms">
  <div class="container text-center">
    <div class="row">

      <p>masszazsom.hu &copy; {{year}}. {{ "All Rights Reserved." | translate}}</p>

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</footer>
<!--END COPYRIGHT-->

<a href="#slides" class="top"><i class="fa fa-arrow-up fa-lg"></i></a>